
<div class="span9 content">
  <%= create_guide("New Project", 
        "Create the projects details.").html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  
  <div class="row-fluid">
    <div class="span8">

      <%= render :partial => "projects/new_project_form" , :locals => {:project => @project} %>
    </div><!--/span-->

    <div class="span4">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr><th>Total Projects: <%#= @projects.count%></th></tr>
        </thead>
        <tbody>
          <%# @projects.each do |project| %>
            <tr>
              <td><%#= project.title %></td>
            </tr>
          <%# end %>
        </tbody>
      </table>
      
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
