
<div class="span9 content">
  
  <%= create_guide("Select the Project", 
        "Collaborate on the project: adding pictures, picking awesome pictures, and give feedback").html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  
  

  <div class="row-fluid">
    <!-- <div class="span12"> -->

      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Pictures</th>
            <th>Selection Quota</th>
            <th>Selected Pictures</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td>
                <%= link_to "#{project.title}", extract_relevant_collaboration_link(current_user, project) %>
                
                <%#= link_to "#{project.title}", root_url %>
              </td>
              <td><%= project.original_pictures.count %></td>
              <td><%= project.picture_select_quota %></td>
              <td>6</td>
            </tr>
          <% end %>
          


        </tbody>
      </table>



    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

 

</div><!--/span-->












