<div class="alert alert-success" style="text-align:center;" id="select_picture_notification">
  <a data-dismiss="alert" class="close">×</a>
  <strong>Hello!!</strong> Thanks for selecting the pictures. 
  Now, we can move on for finalizing your pics!
  
  
  <div style="margin-top:20px;">
    <%= link_to "Let's finalize", finalize_pictures_for_project_url( project ),
      :class => "btn btn-success" %>
    <!-- <a href="#" class="btn btn-success">Let's finalize</a> -->
  </div>
  
  
</div>