


<li class="span3">
  <div class="thumbnail">
    
    <%= link_to  root_url,
        :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
      <%= image_tag picture.index_image_url %>
    <% end %>
    
    <!-- <img alt="" src="http://placehold.it/260x180"> -->
    <div class="caption">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        
        <tbody>
          <tr>
            <td>Is Selected?</td>
            <td>
              <label class="checkbox">
                <% checkbox_value = picture.is_selected?  %>
            
                <%= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
                    checkbox_value, :class => "checkbox_tracker #{add_project_closed_class(project)}", 
                    :id => "provider_#{project.id}-consumer_#{picture.id}" %> Selected
              </label>
            </td>
          </tr>
         
        </tbody>
      </table>
     
    </div>
  </div>
</li>



